<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>

            <!--
            <section>
                <div>
                    <form class="" onsubmit="return Client.handleSubmit(event)">
                        <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </form>
                </div>

                
                
            </section>
            -->
          
            <section>

                <form>
                    <label for='text'>
                        <!-- <textarea id='text' name="text" value="default" rows="5" cols="40"> -->
                        <!-- <textarea id='text' name="text" value="default" rows="5" cols=75%>Please type text here</textarea> -->
                        <textarea id='text' name="text" value="default" rows="5" cols=75%>Main dishes were quite good, but desserts were too sweet for me.</textarea>
                        <br>

                        <label for="api">Choose a api:</label>
                        <select id="api" name="apis">
                            <option value="0">Sentiment</option>
                            <option selected value="1">Categorization</option>
                            <option value="2">tbd</option>
                            <option value="3">tbd</option>
                        </select>       

                        <input onclick="Client.handleSubmit(event)" type="submit" id='text' name="text" value="Test" placeholder="Check meaning">


                    </label>

                </form>
                                
            </section>

            <section>
                <strong>Form Results for <span id="api_type"></span>:</strong>
                <div id="results_deepcat" display="none">
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Label</th>
                            <th>Abs Relevance</th>
                            <th>Relevance</th>
                            <th>Polarity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id = "categorization_code"></td>
                            <td id = "categorization_label"></td>
                            <td id = "categorization_abs_rel"></td>
                            <td id = "categorization_rel""></td>
                            <td id = "categorization_polarity"></td>
                        </tr>
                    </tbody>
                </table>

                
                </div>

            </section>


        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
